body {
  text-align: center;
  background: #076585;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
#side {
  position: fixed;
}
#logo {
  width: 30%;
}

.card {
  text-align: left;
}

p {
  font-size: 16px;
}

.container {
  margin-top: 1%;
}
